button {
    margin-right: 6px;
}

h1.title {
    margin-top   : -15px;
    margin-bottom: 15px;
}

span>a {
    color          : white !important;
    text-decoration: none;
}

.message {
    font-size: 12px;
}

.greenText {
    color: green;
}

.yellowText {
    color: #d0d011;
}

.orangeText {
    color: orange;
}

.redText {
    color: red;
}